body{
    background-color: blanchedalmond;
    height: 150vh;
    text-align: center;
    font-family:'League Spartan', sans-serif;
    font-size: xx-large;
    color: #F0F0F2;
}
div{
    border: solid;
    width: 400px;
    margin: 0 auto;
    border-width: 2px;
    background-color:  #2f9e79bd;
    border-radius:30px;
    border-color: #2f9e79;
    padding: 5px;
    padding-bottom: 20px;
    margin-top: 20px;
}
#inplivro{
    background-color: #2f9e79;
}
input{
    width: 200px;
    height: 30px;
    border-radius: 25px;
    font-size: medium;
    text-align: center;
    font-family: 'League Spartan', sans-serif;
    background-color: #ffffff;
    border: 0;
    margin: 5px;
}
button{
    width: 100px;
    height: 35px;
    border-radius: 25px;
    font-size: medium;
    font-family: 'League Spartan', sans-serif;
    border: 0;
    background-color: #F0F0F2;
    
}
input::placeholder {
    color: black;
}

#cadastro{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #F0F0F2;
}
.tituloL{
    color: #2f9e79;
}
a{
    color: #ffffff;
    font-size: 25px;
    background-color: #065f50ab;
}